html { height: 100% }

body { height: 100%; margin: 0; padding: 0;  background-color: #E8E8E8; }

#map-canvas { height: 100%; width: 1000px; float: left;}

#barra_lateral { height: 100%; width: 317px; float: left; overflow-y:auto;}

#insertaNuevo { background: url("../img/libreta.png") repeat scroll 0 0 rgba(0, 0, 0, 0); height: 200px; width: 200px; 
			margin: 50px 50px;}

#contenedorVeggies{ margin: 0 50px; display: none; }

.botonVeggie{ height: 100px; width: 100px; float: left; }

#v0{ background-image: url("../img/veggies/0.png") }
#v1{ background-image: url("../img/veggies/1.png") }
#v2{ background-image: url("../img/veggies/2.png") }
#v3{ background-image: url("../img/veggies/3.png") }
#v4{ background-image: url("../img/veggies/4.png") }
#v5{ background-image: url("../img/veggies/5.png") }

#checkOut{ height:50px; width: 200px; margin-top: 50px; float: left;  }