html { height: 100% }

body { height: 100%; margin: 0; padding: 0 }

#map-canvas { height: 100%; width: 1000px; float: left;}

#barra_lateral { height: 100%; width: 300px; float: left; background-color: blue; }